<div class="container mt-5 available">
    <div class="available-group">
        <div class="availability-form">
            <form (ngSubmit)="checkAvailability()">
                <div class="form-group">
                    <label for="checkin">Ngày Giờ Nhận Phòng:</label>
                    <input type="datetime-local" id="checkin" [(ngModel)]="checkin" name="checkin" required
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="checkout">Ngày Giờ Trả Phòng:</label>
                    <input type="datetime-local" id="checkout" [(ngModel)]="checkout" name="checkout" required
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="room-type">Loại Phòng:</label>
                    <select id="room-type" [(ngModel)]="roomType" name="roomType" required class="form-control">
                        <option value="">Chọn loại phòng</option>
                        <option *ngFor="let type of roomTypes" [value]="type.id">{{ type.name }}</option>
                    </select>
                </div>
                <div class="submit-container">
                    <button type="submit" class="btn btn-primary">Kiểm Tra</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center heading-title">Phòng & Hạng phòng</h1>
    <p class="text-center">Chúng tôi có 82 phòng với nhiều loại phòng khác nhau, từ phòng Superior view thành phố
        cho đến phòng Deluxe Family. Mỗi phòng đều được trang bị đầy đủ tiện nghi và có ban công riêng. Khách sạn
        còn có nhà hàng, bar, hồ bơi, spa, gym và karaoke để phục vụ nhu cầu giải trí của du khách.</p>
</div>
<div class="room-list mt-5">
    <div class="container">
        <div class="row" *ngIf="availableRooms.length > 0">
            <div class="col-md-6" *ngFor="let room of availableRooms">
                <div class="card">
                    <img [src]="'http://localhost:8080/upload_images/' + room.images[0]" alt="Room Image" class="card-img-top" />                    <div class="card-body">
                        <h3 class="card-title">{{ room.name }}</h3>
                        <p class="card-text">{{ room.description }}</p>
                        <p><strong>Giá: </strong>{{ room.price | currency }}</p>
                        <div class="d-grid gap-2 mt-3">
                            <a [routerLink]="['/room-detail', room.roomId]" [queryParams]="{ page: currentPage }" class="btn btn-primary">More Information & Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="availableRooms.length === 0">
            <p>Không có phòng trống cho lựa chọn của bạn.</p>
        </div>

        <!-- Phân trang -->
        <div class="pagination mt-4">
            <button class="btn btn-secondary" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Trang
                Trước</button>

            <span>Trang {{ currentPage }} / {{ totalPages }}</span>

            <button class="btn btn-secondary" (click)="goToPage(currentPage + 1)"
                [disabled]="currentPage === totalPages">Trang Sau</button>

            <div class="page-buttons">
                <button *ngFor="let page of [].constructor(totalPages); let i = index" class="btn btn-outline-primary"
                    [class.active]="currentPage === (i + 1)" (click)="goToPage(i + 1)">
                    {{ i + 1 }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="text-center container mt-5">
    <h3 class="heading-title">Lý do để bạn chọn chúng tôi</h3>
    <p>Bạn muốn nghỉ dưỡng tại một nơi thoải mái, yên tĩnh và gần gũi với thiên nhiên? Bạn muốn được phục vụ bởi
        một đội ngũ nhân viên nhiệt tình, chu đáo và chuyên nghiệp? Bạn muốn có nhiều lựa chọn về dịch vụ giải
        trí, thư giãn và chăm sóc sức khỏe? Nếu bạn đồng ý với những điều trên, thì Amazing Hotel Sapa là lựa
        chọn hoàn hảo cho bạn.</p>
</div>
<div class="information">
    <div class="container mt-5">
        <!-- Thông tin giới thiệu -->
        <div class="info-row">
            <img src="vitri.jpg" alt="Info Image 1">
            <div class="info-text">
                <h3>Vị trí thuận lợi</h3>
                <p>Khách sạn có 82 phòng nghỉ với nhiều loại phòng khác nhau, từ phòng Superior view thành phố cho
                    đến
                    phòng Pen house. Mỗi phòng đều được trang bị đầy đủ tiện nghi như điều hòa, máy sưởi, minibar,
                    tivi
                    LCD, bàn làm việc, két sắt và phòng tắm riêng. Mỗi phòng đều có ban công riêng, cho bạn ngắm
                    nhìn
                    khung cảnh tuyệt đẹp của Sapa.</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-text">
                <h3>Dịch vụ đa dạng và chất lượng</h3>
                <p>Khách sạn có nhà hàng, bar, hồ bơi trong nhà, spa, gym và karaoke để phục vụ nhu cầu giải trí của
                    du
                    khách. Khách sạn còn có dịch vụ massage thư giãn, giặt là và đặt tour du lịch. Nhân viên khách
                    sạn
                    thân thiện, nhiệt tình và chuyên nghiệp, luôn sẵn sàng phục vụ mọi yêu cầu của khách hàng.</p>
            </div>
            <img src="lydo.jpg" alt="Info Image 2">
        </div>

        <div class="info-row">
            <img src="điaiem.jpg" alt="Info Image 3">
            <div class="info-text">
                <h3>Địa điểm lý tưởng</h3>
                <p>Khách sạn có nhà hàng, bar, hồ bơi trong nhà, spa, gym và karaoke để phục vụ nhu cầu giải trí của
                    du
                    khách. Khách sạn còn có dịch vụ massage thư giãn, giặt là và đặt tour du lịch. Nhân viên khách
                    sạn
                    thân thiện, nhiệt tình và chuyên nghiệp, luôn sẵn sàng phục vụ mọi yêu cầu của khách hàng</p>
            </div>
        </div>
    </div>
</div>