h2 {
    margin-bottom: 30px;
    color: #2c3e50;
}

h1 {
    color: #343a40;
    margin-bottom: 30px;
}

.room-list {
    padding: 30px 0;
    background-color: #F6F6FA;
}

.card {
    border: none;
    width: 600px;
    margin: auto;
    background-color: #F6F6FA;
}

.card-img-top {
    border-radius: 0;
    height: 400px;
    object-fit: cover;
}

.card-title {
    line-height: 1.33;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 38px;
    color: #1A1A1A;
}

.card-title:hover {
    color: #b95c47;
    cursor: pointer;
}


.card-text {
    color: #6c757d;
}

.card-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 450px;
}

.btn-custom {
    height: 50px;
    border-radius: 3px;
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: 1px;
    fill: #1A1A1A;
    color: #1A1A1A;
    text-align: center;
    justify-content: center;
}

.btn-custom:hover {
    background-color: #b95c47;
    color: white;
}

.info-row {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.info-row img {
    border-radius: 20px;
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.info-text {
    padding: 20px;
    width: 50%;
}

.info-text h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #1A1A1A;
    margin-bottom: 0px;
}

.info-text p {
    color: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.heading-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #1A1A1A;
    margin-bottom: 0px;
}

p {
    color: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.information {
    background-color: #F6F6FA;
    padding: 30px 0;
}



/* check available */
.available {
    justify-content: center;
    align-items: center;
    display: flex;
    /* Sử dụng flex để căn chỉnh form và nút */
    align-items: stretch;
    /* Để các phần tử con chiếm hết chiều cao */
}

.available-group {
    margin-top: -106px;
    z-index: 10;
    display: flex;
}

.availability-form {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    flex: 1;
    /* Để form chiếm không gian còn lại */
    display: flex;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    /* Để các nhãn nằm trên các trường nhập liệu */
    flex: 1;
    /* Cho phép form-group chiếm không gian còn lại */
}

.form-group label {
    margin-bottom: 5px;
    color: #333;
}

input[type="datetime-local"],
select {
    padding: 10px;
    border: none;
    /* Bỏ viền */
    background-color: #fff;
    flex: 1;
    /* Để các trường chiếm không gian còn lại */
    height: 100%;
    box-shadow: none;
    outline: none;
}

input[type="datetime-local"]:focus,
select:focus {
    outline: none;
    /* Bỏ outline khi trường được chọn */
}

.submit-container {
    display: flex;
    align-items: stretch;
    /* Để nút có cùng chiều cao với thẻ form */
}

input[type="submit"] {
    background-color: #b95c47;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 100%;
    padding: 0 20px;
}

input[type="submit"]:hover {
    background-color: #a3543f;
}

/* check available */