h2 {
    margin-bottom: 30px;
    color: #004d40;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #ffd700, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 2px solid #ffd700;
}

h1 {
    color: #004d40;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #ffd700, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
    padding: 10px;
    border-bottom: 2px solid #ffd700;
}

.main-building {
    background-color: #f8f9fa;
    padding: 3rem 1rem;
}

.main-title {
    font-size: 2.5rem; 
    font-weight: 700;
    color: #ffffff; 
    margin-bottom: 2rem; 
    text-align: center; 
    background-color: #343a40; 
    padding: 1rem; 
    border-radius: 0.2rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 1px;
    margin-left: 4.5rem; 
    margin-right: 4.5rem; 
}

.row {
    margin-left: 4.5rem; 
    margin-right: 4.5rem; 
}

.room-card {
    margin-bottom: 2rem;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343a40;
}

.room-prices {
    text-align: right;
}

.room-prices p {
    margin: 5px 0;
}

.price-red {
    color: #f50404;
    font-weight: bold;
}

.btn-primary {
    background-color: white;
    border: solid 1px #b95c47;
    color: #b95c47;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #b95c47;
    color: white;
    border: 0;
}

.active {
    background-color: #b95c47;
    color: #fff;
    border-color: #b95c47 !important;
}
.page-link{
    background-color: #fff;
    color: #b95c47;
}

.info-row {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.info-row img {
    border-radius: 20px;
    width: 50%;
    height: 400px;
    object-fit: cover;
}

.info-text {
    padding: 20px;
    width: 50%;
}

.info-text h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #004d40;
    margin-bottom: 0px;
}

.info-text p {
    color: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.heading-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #004d40;
    margin-bottom: 40px;
    background: linear-gradient(to right, #8B4513, #A0522D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-bottom: 2px solid  #A0522D;
}

p {
    color: #5A5A5A;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.information {
    background-color: #F6F6FA;
    padding: 30px 0;
}

/* check available */
.available {
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: stretch;
}

.available-group {
    margin-top: -106px;
    z-index: 10;
    display: flex;
}

.availability-form {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    flex: 1;
    display: flex;
    gap: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-group label {
    margin-bottom: 5px;
    color: #333;
}

input[type="datetime-local"],
select {
    padding: 10px;
    border: none;
    background-color: #fff;
    flex: 1;
    height: 100%;
    box-shadow: none;
    outline: none;
}

input[type="datetime-local"]:focus,
select:focus {
    outline: none;
}

.submit-container {
    margin-left: 10px;
    display: flex;
    align-items: stretch;
}

.submit-container .btn-primary {
    background-color: #b95c47;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    height: 100%;
    padding: 0 15px;
    border-radius: 0;
}

.submit-container .btn-primary {
    background-color: #a3543f;
}

/* check available */

.page-link{
    background-color: #fff;
    color: #b95c47;
}