<div class="container mt-5 available">
    <div class="available-group">
        <div class="availability-form">
            <div class="form-group">
                <label for="checkin">Ngày Giờ Nhận Phòng:</label>
                <input type="datetime-local" id="checkin" name="checkin" required>
            </div>
            <div class="form-group">
                <label for="checkout">Ngày Giờ Trả Phòng:</label>
                <input type="datetime-local" id="checkout" name="checkout" required>
            </div>
            <div class="form-group">
                <label for="room-type">Loại Phòng:</label>
                <select id="room-type" name="room-type" required>
                    <option value="">Chọn loại phòng</option>
                    <option value="single">Phòng Đơn</option>
                    <option value="double">Phòng Đôi</option>
                    <option value="suite">Phòng Suite</option>
                </select>
            </div>
        </div>
        <div class="submit-container">
            <input type="submit" value="Kiểm Tra">
        </div>
    </div>
</div>

<div class="container mt-5">
    <h1 class="text-center heading-title">Phòng & Hạng phòng</h1>
    <p class="text-center">Chúng tôi có 82 phòng với nhiều loại phòng khác nhau, từ phòng Superior view thành phố
        cho đến phòng Deluxe Family. Mỗi phòng đều được trang bị đầy đủ tiện nghi và có ban công riêng. Khách sạn
        còn có nhà hàng, bar, hồ bơi, spa, gym và karaoke để phục vụ nhu cầu giải trí của du khách.</p>
</div>
<div class="room-list">
    <div class="container mt-5">
        <div class="row mt-5">
            <!-- Card Phòng 1 -->
            <div class="col-md-6">
                <div class="card">
                    <img src="hotel2.jpg" class="card-img-top" alt="Room 1">
                    <div class="card-body">
                        <h3 class="card-title">Superior Room</h3>
                        <p class="card-text">Nếu bạn muốn có một phòng ngủ ấm cúng, tiện nghi và hợp túi tiền, phòng
                            Superior Room là sự</p>
                        <button class="btn btn-custom">Book</button>
                    </div>
                </div>
            </div>

            <!-- Card Phòng 2 -->
            <div class="col-md-6">
                <div class="card">
                    <img src="hotel3.jpg" class="card-img-top" alt="Room 2">
                    <div class="card-body">
                        <h3 class="card-title">Connecting Room</h3>
                        <p class="card-text">A cozy room perfect for a relaxing stay with all essential amenities.
                        </p>
                        <button class="btn btn-custom">Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center container mt-5">
    <h3 class="heading-title">Lý do để bạn chọn chúng tôi</h3>
    <p>Bạn muốn nghỉ dưỡng tại một nơi thoải mái, yên tĩnh và gần gũi với thiên nhiên? Bạn muốn được phục vụ bởi
        một đội ngũ nhân viên nhiệt tình, chu đáo và chuyên nghiệp? Bạn muốn có nhiều lựa chọn về dịch vụ giải
        trí, thư giãn và chăm sóc sức khỏe? Nếu bạn đồng ý với những điều trên, thì Amazing Hotel Sapa là lựa
        chọn hoàn hảo cho bạn.</p>
</div>
<div class="information">
    <div class="container mt-5">
        <!-- Thông tin giới thiệu -->
        <div class="info-row">
            <img src="vitri.jpg" alt="Info Image 1">
            <div class="info-text">
                <h3>Vị trí thuận lợi</h3>
                <p>Khách sạn có 82 phòng nghỉ với nhiều loại phòng khác nhau, từ phòng Superior view thành phố cho
                    đến
                    phòng Pen house. Mỗi phòng đều được trang bị đầy đủ tiện nghi như điều hòa, máy sưởi, minibar,
                    tivi
                    LCD, bàn làm việc, két sắt và phòng tắm riêng. Mỗi phòng đều có ban công riêng, cho bạn ngắm
                    nhìn
                    khung cảnh tuyệt đẹp của Sapa.</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-text">
                <h3>Dịch vụ đa dạng và chất lượng</h3>
                <p>Khách sạn có nhà hàng, bar, hồ bơi trong nhà, spa, gym và karaoke để phục vụ nhu cầu giải trí của
                    du
                    khách. Khách sạn còn có dịch vụ massage thư giãn, giặt là và đặt tour du lịch. Nhân viên khách
                    sạn
                    thân thiện, nhiệt tình và chuyên nghiệp, luôn sẵn sàng phục vụ mọi yêu cầu của khách hàng.</p>
            </div>
            <img src="lydo.jpg" alt="Info Image 2">
        </div>

        <div class="info-row">
            <img src="điaiem.jpg" alt="Info Image 3">
            <div class="info-text">
                <h3>Địa điểm lý tưởng</h3>
                <p>Khách sạn có nhà hàng, bar, hồ bơi trong nhà, spa, gym và karaoke để phục vụ nhu cầu giải trí của
                    du
                    khách. Khách sạn còn có dịch vụ massage thư giãn, giặt là và đặt tour du lịch. Nhân viên khách
                    sạn
                    thân thiện, nhiệt tình và chuyên nghiệp, luôn sẵn sàng phục vụ mọi yêu cầu của khách hàng</p>
            </div>
        </div>
    </div>
</div>