<!-- <div class="container mt-5 available">
    <div class="available-group">
        <form (ngSubmit)="checkAvailability()" class="availability-form">
            <div class="form-group">
                <label for="checkin">Check in:</label>
                <input type="datetime-local" id="checkin" [(ngModel)]="checkin" name="checkin" required
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="checkout">Check out:</label>
                <input type="datetime-local" id="checkout" [(ngModel)]="checkout" name="checkout" required
                    class="form-control">
            </div>
            <div class="form-group">
                <label for="room-type">Room type:</label>
                <select id="room-type" [(ngModel)]="roomType" name="roomType" required class="form-control">
                    <option value="" disabled selected>Choose room type</option>
                    <option *ngFor="let type of roomTypes" [value]="type">{{ type }}</option>
                </select>
            </div>
            <div class="submit-container">
                <button type="submit" class="btn btn-primary">Check</button>
            </div>
        </form>
    </div>
</div> -->

<div class="container mt-5">
    <h1 class="text-center heading-title">Room And Room Type Family</h1>
    <p class="text-center">
        We have a variety of room types, from Superior City View Rooms to Deluxe Family Rooms. Each room is fully equipped with amenities and has a private balcony. The hotel also has a restaurant, bar, swimming pool, spa, gym and karaoke to serve the entertainment needs of guests.</p>
</div>

<div class="container-fluid main-building" *ngIf="rooms.length > 0">
    <div class="row">
        <div class="col-md-6 mb-4 room-card" *ngFor="let room of rooms">
            <div class="card">
                <img [src]="'http://localhost:8080/upload_images/' + room.images[0]" alt="Room Image" class="card-img-top" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">
                            <span class="text-color">{{ room.roomNumber }}</span> - {{ room.roomType }}
                        </h5>
                        <div class="room-prices">
                            <p><strong>Daily Price:</strong> <span class="price-red">{{ room.dayPrice | currency: '$' }}</span></p>
                            <p><strong>Hourly Price:</strong> <span class="price-red">{{ room.hourPrice | currency: '$' }}</span></p>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <button (click)="goToDetail(room.roomId)" class="btn btn-primary">More Information & Book</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center container mt-5">
    <h3 class="heading-title">Reasons to choose us</h3>
    <p>Do you want to relax in a comfortable, quiet place close to nature? Do you want to be served by a team of
        enthusiastic, attentive and professional staff? Do you want to have many options for entertainment, relaxation
        and health care services? If you agree with the above, then Amazing Hotel Sapa is the perfect choice for you.
    </p>
</div>
<div class="information">
    <div class="container mt-5">
        <div class="info-row">
            <img src="/images/vitri.jpg" alt="Info Image 1">
            <div class="info-text">
                <h3>Convenient location</h3>
                <p>The hotel has 82 rooms with various room types, from Superior room with city view to Pen house room.
                    Each room is fully equipped with amenities such as air conditioning, heating, minibar, LCD TV, desk,
                    safe and private bathroom. Each room has a private balcony, allowing you to admire the beautiful
                    scenery of Sapa.</p>
            </div>
        </div>

        <div class="info-row">
            <div class="info-text">
                <h3>Diverse and quality services</h3>
                <p>
                    The hotel has 82 rooms with various room types, from Superior room with city view to Pen house room.
                    Each room is fully equipped with amenities such as air conditioning, heating, minibar, LCD TV, desk,
                    safe and private bathroom. Each room has a private balcony, allowing you to admire the beautiful
                    scenery of Sapa.</p>
            </div>
            <img src="/images/lydo.jpg" alt="Info Image 2">
        </div>

        <div class="info-row">
            <img src="/images/điaiem.jpg" alt="Info Image 3">
            <div class="info-text">
                <h3>Ideal location</h3>
                <p>The hotel is located right in the center of Ho Tay town, only 200 meters from the Stone Church, 500
                    meters from Ho Tay. The hotel has a view of the West and East valleys, giving you a feeling of being
                    close to nature.</p>
            </div>
        </div>
    </div>
</div>