/* Cấu trúc chính */
.container_main {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.content {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    margin-top: 100px;
    width: 250px;
    background-color: #2c3e50; 
    color: #ecf0f1; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); 
    height: 100%; 
}

.username {
    font-size: 1.5em;
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center;
    border-bottom: 2px solid  #e74c3c;
    padding-bottom: 10px;
}

.routerLink {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
}

.routerLink li {
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    background-color: #fff;
    color: #e74c3c;
}

.routerLink li:hover {
    background-color:  #e74c3c; 
    color: #fff;
}

.routerLink li i {
    margin-right: 10px; 
    font-size: 1.2em;
}



/* Css cho phần hiển thị booking và booking detail cho người dùng */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.section {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.booking-card {
    background: #ecf0f1;
    margin: 15px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background 0.3s;
}

.booking-card:hover {
    transform: translateY(-5px);
    background: #dfe6e9;
}

.booking-details-container {
    margin-top: 15px;
}

.booking-detail-card {
    background:#daada1; 
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.booking-detail-card p {
    margin: 5px 0;
    color: #2c3e50;
}
p {
    margin: 5px 0;
    color: #34495e;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.button:hover {
    background-color:#c0392b;
}

footer {
    text-align: center;
    color: #777;
}