<div class="sidebar">
    <img src="../../../../images/avatar.jpg" alt="Avatar">
    <h5>{{userLogin?.fullName}}</h5>
    <hr>
    <a (click)="goToHomePage()" class="active"><i class="fas fa-home"></i> Home Page</a>
    <a [routerLink]="'/admin/booking-manager'" class="active"><i class="fas fa-calendar-alt"></i> Booking</a>
    <a [routerLink]="'/admin/user-manager'" class="active"><i class="fas fa-user"></i> User</a>
    <a [routerLink]="'/admin/provision-manager'" class="active"><i class="fas fa-box"></i> Service</a>
    <a [routerLink]="'/admin/room-manager'" class="active"><i class="fas fa-bed"></i> Room</a>
    <a [routerLink]="'/admin/contact-manager'" class="active"><i class="fas fa-comment"></i> Contact</a>
</div>
<div class="content">
    <div class="header">
        <h1>{{pageTitle}}</h1>
        <button class="btn btn-danger" (click)="signOut()">
            <i class="fas fa-sign-out-alt"></i> Log Out
        </button>
    </div>
    <router-outlet></router-outlet>
</div>

