body {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
    text-align: center; 
}

.sidebar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.sidebar h5 {
    margin: 20px 0; 
}

.sidebar hr {
    border: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2); 
    margin: 20px 0; 
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    display: block;
    text-align: left;
    border-radius: 5px;
    margin: 15px;
}

.sidebar a:hover {
    background-color: #495057;
}

.content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

td{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px; 
}

.table img {
    max-width: 40%; 
    max-height: 40%; 
    object-fit: contain; 
    display: block; 
    margin: auto 0;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        text-align: left;
    }

    .content {
        margin-left: 0;
    }

    .sidebar a {
        text-align: center;
    }
}