td{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    max-width: 200px;
}

.table .image-col img {
    max-width: 40%; 
    max-height: 40%; 
    object-fit: contain; 
    display: block; 
    margin: auto 0; 
}

a.active {
    background-color: #007bff; 
    color: white; 
}

input.ng-invalid {
    border: 2px solid red;
}

span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1040; 
  }
  .btn-primary{
    background-color:  #e74c3c;
    border-color: #e74c3c;
    --bs-btn-active-bg: #e74c3c;
    --bs-btn-active-border-color: #e74c3c;
}
.page-link.active{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
a.page-link{
    color: #e74c3c;
}