td{
    white-space: nowrap; /* Giữ văn bản trên một dòng*/
    overflow: hidden; /* Ẩn văn bản vượt quá giới hạn*/
    text-overflow: ellipsis; /* Hiển thị dấu "..." khi văn bản vượt quá */
    max-width: 200px; /* Đặt chiều rộng tối da cho ô văn bản*/
}

.table .image-col img {
    max-width: 40%;  /* Giới hạn chiều rộng tối đa */
    max-height: 40%; /* Giới hạn chiều cao tối đa */
    object-fit: contain; /* Đảm bảo ảnh không bị biến dạng */
    display: block; /* Đảm bảo không có khoảng cách phía dưới ảnh */
    margin: auto 0; /* Căn giữa ảnh trong ô */
}

a.active {
    background-color: #007bff; /* Màu nền khi active */
    color: white; /* Màu chữ khi active */
}

input.ng-invalid {
    border: 2px solid red;
}

span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
    z-index: 1040; /* Đảm bảo backdrop ở phía dưới modal */
  }
  .btn-primary{
    background-color:  #e74c3c;
    border-color: #e74c3c;
    --bs-btn-active-bg: #e74c3c;
    --bs-btn-active-border-color: #e74c3c;
}
.page-link.active{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
a.page-link{
    color: #e74c3c;
}