<div class="form-group mt-3">
    <div class="input-group">
        <input type="text" class="form-control" id="searchRoomInput" placeholder="Search..."
            (keyup)="handleKeyPress($event)">

        <div class="input-group-append">
            <button class="btn btn-primary" (click)="searchRooms()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#addRoomModal" (click)="resetFormData()">Add Room</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Room Type</th>
                <th>Status</th>
                <th>Day Price</th>
                <th>Hour Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="roomTable">
            <tr *ngFor="let room of filterRooms">
                <td>{{room.roomNumber}}</td>
                <td>{{room.roomType}}</td>
                <td>{{room.status}}</td>
                <td>{{room.dayPrice}}</td>
                <td>{{room.hourPrice}}</td>
                <td>
                    <ng-container *ngIf="room.images && room.images.length > 0; else noImage">
                        <img [src]="'/FE/hotel_manager/public/upload_images/' + room.images[0].imageFileName" alt="Room Image" style="width: 100px; height: auto;" />
                    </ng-container>
                    <ng-template #noImage>
                        <span>No Image Available</span>
                    </ng-template>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" data-toggle="modal" [attr.data-target]="'#editRoomModal'+room.roomId" (click)="openEditRoom(room)">Edit</button>
                </td>
                <!-- Modal Sửa Phòng -->
                <div class="modal fade" id="editRoomModal{{room.roomId}}" tabindex="-1" role="dialog"
                    aria-labelledby="editRoomModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form id="editRoomForm" #editRoomForm="ngForm" (ngSubmit)="onSubmitEdit(editRoomForm)" method="PUT">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editRoomModalLabel">Edit Room</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" id="editRoomId">
                                    <div class="form-group">
                                        <label for="roomNumber">Room Number</label>
                                        <input type="text" class="form-control" id="roomNumber" name="roomNumber"[value]="room.roomNumber" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="roomType">Room Type</label>
                                        <select class="form-control" id="roomType" name="roomType" [(ngModel)]="roomType" required>
                                            <option value="SINGLE">SINGLE</option>
                                            <option value="DOUBLE">DOUBLE</option>
                                            <option value="DELUXE">DELUXE</option>
                                            <option value="FAMILY">FAMILY</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="status">Status</label>
                                        <select class="form-control" id="status" name="status" [(ngModel)]="status" required>
                                            <option value="AVAILABLE">AVAILABLE</option>
                                            <option value="BOOKED">BOOKED</option>
                                            <option value="MAINTENANCE">MAINTENANCE</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="dayPrice">Day Price</label>
                                        <input type="number" class="form-control" id="dayPrice" name="dayPrice" [(ngModel)]="dayPrice" required>
                                    </div>
                                    <div
                                        *ngIf="editRoomForm.controls['dayPrice']?.invalid && (editRoomForm.controls['dayPrice']?.touched || editRoomForm.submitted)">
                                        <small class="text-danger">Day Price is required.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="hourPrice">Hour Price</label>
                                        <input type="number" class="form-control" id="hourPrice" name="hourPrice" [(ngModel)]="hourPrice" required>
                                    </div>
                                    <div
                                            *ngIf="editRoomForm.controls['hourPrice']?.invalid && (editRoomForm.controls['hourPrice']?.touched || editRoomForm.submitted)">
                                            <small class="text-danger">Hour Price is required.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="images">Image</label>
                                            <input type="file" multiple class="form-control" id="images" [(ngModel)]="files" (change)="onFileChange($event)" accept="image/*">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>



    <!-- Modal Thêm Phòng -->
    <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form id="" method="POST" (ngSubmit)="onSubmitAdd()">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addRoomModalLabel">Add New Room</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="roomNumber">Room Number</label>
                            <input type="text" class="form-control" id="roomNumber" [(ngModel)]="roomNumber"
                                name="roomNumber">
                        </div>
                        <span *ngIf="errors">{{findErrors("roomNumber")}}</span>
                        <div class="form-group">
                            <label for="roomType">Room Type</label>
                            <select class="form-control" id="roomType" [(ngModel)]="roomType" name="roomType">
                                <option value="SINGLE">SINGLE</option>
                                <option value="DOUBLE">DOUBLE</option>
                                <option value="DELUXE">DELUXE</option>
                                <option value="FAMILY">FAMILY</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" [(ngModel)]="status" name="status">
                                <option value="AVAILABLE">AVAILABLE</option>
                                <option value="BOOKED">BOOKED</option>
                                <option value="MAINTENANCE">MAINTENANCE</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dayPrice">Day Price</label>
                            <input type="number" class="form-control" id="dayPrice" [(ngModel)]="dayPrice"
                                name="dayPrice">
                        </div>
                        <span *ngIf="errors">{{findErrors("dayPrice")}}</span>
                        <div class="form-group">
                            <label for="hourPrice">Hour Price</label>
                            <input type="number" class="form-control" id="hourPrice" [(ngModel)]="hourPrice"
                                name="hourPrice">
                        </div>
                        <span *ngIf="errors">{{findErrors("hourPrice")}}</span>
                        <div class="form-group">
                            <label for="images">Image</label>
                            <input type="file" multiple class="form-control" id="images" (change)="onFileChange($event)" accept="image/*">
                        </div>
                        <span *ngIf="errors">{{ findErrors('images') }}</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Phân Trang -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="">1</a></li>
            <li class="page-item"><a class="page-link" href="">2</a></li>
            <li class="page-item"><a class="page-link" href="">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>