
input.ng-invalid {
    border: 2px solid red;
}

span {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
.btn-primary{
    background-color:  #e74c3c;
    border-color: #e74c3c;
    --bs-btn-active-bg: #e74c3c;
    --bs-btn-active-border-color: #e74c3c;
}
.page-link.active{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #fff;
}
a.page-link{
    color: #e74c3c;
}