<div class="container mt-5">
    <div class="intro">
      <p>
        <strong>
          At Hotel Master, we not only bring you luxurious and comfortable rooms, 
          but also provides you with many diverse and quality services, making your vacation more perfect and enjoyable.
        </strong>
      </p>
    </div>
  
    <div *ngIf="provisions.length > 0; else noServices" class="services-list">
      <div *ngFor="let provision of provisions; let i = index" 
           class="row align-items-center service" 
           [ngClass]="{'odd': i % 2 === 0, 'even': i % 2 !== 0}">
          
          <div [id]="'roomCarousel' + i" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                  <li *ngFor="let image of provision.images; let j = index" 
                      [attr.data-bs-target]="'#roomCarousel' + i"
                      [attr.data-bs-slide-to]="j" 
                      [class.active]="j === 0"></li>
              </ol>
              <div class="carousel-inner">
                  <div *ngFor="let image of provision.images; let j = index" 
                       class="carousel-item" 
                       [ngClass]="{'active': j === 0}">
                      <img [src]="'http://localhost:8080/upload_images/' + image" 
                           alt="Service Image" 
                           class="service-image" />
                  </div>
              </div>
              <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#roomCarousel' + i" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
              </button>
              <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#roomCarousel' + i" data-bs-slide="next">
                  <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
              </button>
          </div>
      
          <div class="col-md-6" [ngClass]="{'order-md-1': i % 2 === 0, 'order-md-2': i % 2 !== 0}">
              <h1>{{ provision.provisionName }}</h1>
              <p>{{ provision.description }}</p>
              <p><span class="price-red">Price: {{ provision.price | currency:'$' }}</span></p>
          </div>
      </div>
  </div>
  
  <ng-template #noServices>
      <div class="alert alert-warning" role="alert">
         There are no services to display.
      </div>
  </ng-template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)"
                    [attr.aria-disabled]="currentPage === 1">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
                <a class="page-link" (click)="goToPage(i + 1)" [class.active]="currentPage === i + 1"
                    [attr.aria-current]="currentPage === i + 1 ? 'page' : null">
                    {{ i + 1 }}
                </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)"
                    [attr.aria-disabled]="currentPage === totalPages">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
