<div class="main">
    <section class="signup bgr-page signup-page">
        <!-- <img src="images/signup-bg.jpg" alt=""> -->
        <div class="container">
            <div class="signup-content">
                <form method="POST" (ngSubmit)="onSubmit()" id="signup-form" class="signup-form">
                    <h2 class="form-title">Create account</h2>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="firstName" class="form-input" name="firstName" id="firstName"
                            placeholder="First name" />
                    </div>
                    <span *ngIf="errors">{{findErrors("firstName")}}</span>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="lastName" class="form-input" name="lastName" id="lastName"
                            placeholder="Last name" />
                    </div>
                    <span *ngIf="errors">{{findErrors("lastName")}}</span>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="address" class="form-input" name="address" id="address" placeholder="Address" />
                    </div>
                    <span *ngIf="errors">{{findErrors("address")}}</span>

                    <div class="form-group">
                        <input type="email" [(ngModel)]="email" class="form-input" name="email" id="email" placeholder="Email" />
                    </div>
                    <span *ngIf="errors">{{findErrors("email")}}</span>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="phoneNumber" class="form-input" name="phoneNumber" id="phoneNumber"
                            placeholder="Phone number" />
                    </div>
                    <span *ngIf="errors">{{findErrors("phoneNumber")}}</span>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="password" class="form-input" name="password" id="password" placeholder="Password" />
                        <!-- <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span> -->
                    </div>
                    <span *ngIf="errors">{{findErrors("password")}}</span>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign up" />
                    </div>
                </form>
                <p class="loginhere">
                    Have already an account ? <a [routerLink]="'/login'" class="loginhere-link">Login here</a>
                </p>
            </div>
        </div>
    </section>

</div>