<div class="container mt-5">
    <div class="row">
        <!-- Thông tin phòng -->
        <div class="col-md-8 room-details" *ngIf="roomDetail">
            <h2 class="mb-4">Room Information</h2>
            <div id="roomCarousel" class="carousel slide mb-3" #carousel data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let image of roomDetail.images; let i = index" [ngClass]="{'active':i==0}">
                    <img [src]="'/upload_images/' + image" alt="Room Image" class="d-block w-100" style="height: 400px; object-fit: cover;" />
                  </div>
                </div>
              
                <button class="carousel-control-prev" type="button" data-bs-target="#roomCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#roomCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
            <hr>
            <h4 class="mb-3">Room Number: <span class="text-primary">{{ roomDetail.roomNumber }}</span></h4>
            <p><strong>Room Type:</strong> {{ roomDetail.roomType }}</p>
            <div class="price-info">
                <p><strong>Daily Price:</strong>
                    <span class="price-red">{{ roomDetail.dayPrice | currency: '$' }}</span>
                </p>
                <p><strong>Hourly Price:</strong>
                    <span class="price-red">{{ roomDetail.hourPrice | currency: '$' }}</span>
                </p>
            </div>

            <button class="btn btn-primary mt-3" (click)="goBack()">Back to List Room</button>
        </div>

        <!-- Kiểm tra tình trạng phòng -->
        <div class="col-md-4 check-availability">
            <h3 style="text-align: center;">Your Reservation</h3>
            <hr>
            <form>
                <div class="form-group">
                    <label for="check-in">Check in</label>
                    <input type="date" class="form-control" id="check-in" required>
                </div>
                <div class="form-group">
                    <label for="check-out">Check out</label>
                    <input type="date" class="form-control" id="check-out" required>
                </div>
                <button type="submit" class="btn btn-primary">Save to Booking</button>
            </form>
        </div>
    </div>
</div>