.container {
    margin-top: 30px;
    padding: 20px;
}
.room-title {
  text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #004d40;
    margin-bottom: 40px;
    background: linear-gradient(to right, #8B4513, #A0522D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-bottom: 2px solid  #A0522D;
}
.room-image {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}
.carousel-item {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.details {
    margin-top: 20px;
}

.details h3 {
    font-size: 1.8rem;
    color: #1a1a1a; 
}

.details p {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #6c757d;
}

.price-red {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.btn-primary {
    background-color: white;
    border: solid 1px #b95c47;
    color: #b95c47;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #b95c47;
    color: white;
    border: 0;
}

.btn-success {
    background-color: #b95c47;
    border: none;
    height: 45px;
    font-size: 16px;
    border-radius: 2px;
}

.btn-success:hover {
    background-color: #a3543d;
    color: #fff;
}
button i.bi-arrow-left {
    font-size: 1.5rem;  
    margin-right: 8px; 
  }
.booking-section {
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-section h2 {
    margin-bottom: 20px;
    color: #1a1a1a;
}

.form-control,
.form-select {
    border: none;
    border-bottom: 1px solid #1a1a1a;
    border-radius: 0;
}

.selected-provisions {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
}

.selected-provision-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.selected-provision-item button {
    margin-left: 1rem;
}

@media (max-width: 576px) {
    .selected-provisions {
        padding: 0.5rem;
    }
    .btn-sm {
        padding: 0.2rem 0.5rem;
    }
}

/* booking css */

.booking-section {
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.booking-section h2 {
    margin-bottom: 20px;
    color: #1a1a1a;
}

.form-control,
.form-select {
    border: none;
    border-bottom: 1px solid #1a1a1a;
    box-shadow: none;
    border-radius: 0;
}

.details p {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #6c757d;
}

.details h5 {
    margin-top: 20px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    padding: 0.5rem;
    --bs-dropdown-link-active-bg: none;
  }
  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
  .dropdown-header {
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
  }
  .form-check {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .form-check-input {
    margin-right: 0.5rem;
  }
  .selected-provisions {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
  }

  .selected-provision-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
  }

  .selected-provision-item button {
    margin-left: 1rem;
  }

  @media (max-width: 576px) {
    .selected-provisions {
      padding: 0.5rem;
    }
    .dropdown-menu {
        width: 100%;
      }
    .btn-sm {
      padding: 0.2rem 0.5rem;
    }
  }
  .mb-3 {
    margin-bottom: 1.5rem;
  }
  .form-check-input:checked{
    background-color: #b95c47;
    border-color: #b95c47;
  }
