<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <form method="POST" (ngSubmit)="onSubmit()" id="signup-form" class="signup-form">
                    <h2 class="form-title">Sign In</h2>
                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" class="form-input" name="user.email" id="user.email" placeholder="Email" />
                    </div>
                    <span *ngIf="errors">{{findErrors("email")}}</span>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" class="form-input" name="user.password" id="user.password" placeholder="Password" />
                        <!-- <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span> -->
                    </div>
                    <span *ngIf="errors">{{findErrors("password")}}</span>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Sign In" />
                    </div>
                </form>
                <p class="loginhere">
                    Have ready an account ? <a [routerLink]="'/register'" class="loginhere-link">Sign
                        Up</a>
                </p>
            </div>
        </div>
    </section>
</div>