<div class="container mt-4">
    <div class="row">
        <main class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="image1.jpg" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 1</h5>
                            <p class="card-text">Thông tin về nội dung 1 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="image2.jpg" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 2</h5>
                            <p class="card-text">Thông tin về nội dung 2 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="image3.jpg" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 3</h5>
                            <p class="card-text">Thông tin về nội dung 3 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="image1.jpg" class="card-img-top" alt="Image 1">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 1</h5>
                            <p class="card-text">Thông tin về nội dung 1 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="image2.jpg" class="card-img-top" alt="Image 2">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 2</h5>
                            <p class="card-text">Thông tin về nội dung 2 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="image3.jpg" class="card-img-top" alt="Image 3">
                        <div class="card-body">
                            <h5 class="card-title">Tiêu Đề 3</h5>
                            <p class="card-text">Thông tin về nội dung 3 sẽ được hiển thị ở đây.</p>
                            <a href="#" class="btn btn-primary">Xem Chi Tiết</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>
