.main-building {
    background-color: #f8f9fa;
    padding: 3rem 1rem;
}

.main-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.29em;
    color: #004d40;
    margin-bottom: 40px;
    background: linear-gradient(to right, #8B4513, #A0522D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px;
    border-bottom: 2px solid  #A0522D;
}

.row {
    margin-left: 4.5rem; 
    margin-right: 4.5rem; 
}

.room-card {
    margin-bottom: 2rem;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343a40;
}

.room-prices {
    text-align: right;
}

.room-prices p {
    margin: 5px 0;
}

.price-red {
    color: #f50404;
    font-weight: bold;
}

.btn-primary {
    background-color: white;
    border: solid 1px #b95c47;
    color: #b95c47;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #b95c47;
    color: white;
    border: 0;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color:  #b95c47;
    border-color: #b95c47;
}
.page-link{
    color: #b95c47;
    background-color: #fff;
}