.main-building {
    background-color: #f8f9fa;
    padding: 3rem 1rem;
}

.main-title {
    font-size: 2.5rem; 
    font-weight: 700;
    color: #ffffff; 
    margin-bottom: 2rem; 
    text-align: center; 
    background-color: #343a40; 
    padding: 1rem; 
    border-radius: 0.2rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    letter-spacing: 1px;
    margin-left: 4.5rem; 
    margin-right: 4.5rem; 
}

.row {
    margin-left: 4.5rem; 
    margin-right: 4.5rem; 
}

.room-card {
    margin-bottom: 2rem;
}

.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1.5rem;
    background-color: #fff;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #343a40;
}

.room-prices {
    text-align: right;
}

.room-prices p {
    margin: 5px 0;
}

.price-red {
    color: #f50404;
    font-weight: bold;
}

.btn-primary {
    background-color: white;
    border: solid 1px #b95c47;
    color: #b95c47;
    font-weight: 400;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary:hover {
    background-color: #b95c47;
    color: white;
    border: 0;
}

.active {
    background-color: #b95c47;
    color: #fff;
    border-color: #b95c47 !important;
}
.page-link{
    background-color: #fff;
    color: #b95c47;
}