<div class="container-fluid main-building">
    <h2 class="main-title text-center">Our Available Rooms</h2> <!-- Title added here -->
    <div class="row">
        <div class="col-md-4 mb-4 room-card" *ngFor="let room of rooms">
            <div class="card">
                <img [src]="'http://localhost:8080/upload_images/' + room.images[0]" alt="Room Image" class="card-img-top" />
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">
                            <span class="text-color">{{ room.roomNumber }}</span> - {{ room.roomType }}
                        </h5>
                        <div class="room-prices">
                            <p><strong>Daily Price:</strong> <span class="price-red">{{ room.dayPrice | currency: '$' }}</span></p>
                            <p><strong>Hourly Price:</strong> <span class="price-red">{{ room.hourPrice | currency: '$' }}</span></p>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-3">
                        <a [routerLink]="['/room-detail', room.roomId]" [queryParams]="{ page: currentPage }" class="btn btn-primary">More Information & Book</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phân trang -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" aria-label="Previous" (click)="goToPage(currentPage - 1)"
                [attr.aria-disabled]="currentPage === 1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
            <a class="page-link" (click)="goToPage(i + 1)" [class.active]="currentPage === i + 1"
                [attr.aria-current]="currentPage === i + 1 ? 'page' : null">
                {{ i + 1 }}
            </a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" aria-label="Next" (click)="goToPage(currentPage + 1)"
                [attr.aria-disabled]="currentPage === totalPages">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>