<div class="payment-container">
    <h2 class="payment-title">Booking Payment</h2>

    <div class="booking-info">
        <p><strong>Booking Person:</strong> {{bookingDetail?.userBookingResponse?.fullName}}</p>
        <p><strong>Booking Date:</strong> {{bookingDetail?.createdAt}}</p>
        <p><strong>Amount To Deposit:</strong> <span class="total-amount"> {{bookingDetail?.deposit}}</span></p>
        <p><strong>Total Amount Of Booking:</strong> <span class="deposit-amount"> {{bookingDetail?.totalAmount}}</span></p>
    </div>

    <form (ngSubmit)="submitPayment()" method="POST" class="payment-form" [formGroup]="bookingForm">
        <input type="hidden" formControlName="bookingId" [value]="bookingId">

        <div class="payment-method">
            <label for="status"><strong>Payment Status:</strong></label>
            <select name="paymentMethod" id="paymentMethod" (change)="onPricingOptionChange($event)" [value]="pricingOption" formControlName="pricingOption">
              <option value="DEPOSITED">Payment of Deposit</option>
              <option value="PAID">Payment of Total Amount</option>
            </select>
          </div>
          
          <div class="payment-amount">
            <label for="paid"><strong>Amount Needed to Pay:</strong></label>
            <input type="text" id="paid" name="paid" [value]="bookingForm.get('price')?.value | currency: 'USD':true" readonly>
          </div>

        <div class="payment-reference">
            <label for="paymentReference"><strong>Payment content:</strong></label>
            <input type="text" id="paymentReference" name="paymentReference" [value]="bookingForm.get('paymentReference')?.value" readonly>
          </div>

        <div class="payment-btn">
            <button type="submit" class="btn-submit">Pay</button>
        </div>
    </form>
</div>
